name: Deploy
on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    name: Build Docker
    runs-on: ubuntu-latest
    needs: sonarcloud

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Build project
        run: mvn clean install -DskipTests

      - name: Login Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/petcare-api .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/petcare-api

  deploy:
    name: Deploy to AWS
    runs-on: self-hosted
    needs: build

    steps:
      - name: Pull image from Docker Hub
        run: sudo docker pull ${{ secrets.DOCKER_USERNAME }}/petcare-api:latest

      - name: Remove existing Docker container
        run: sudo docker rm -f petcare-api

      - name: Run Docker container
        run: sudo docker run -d -p 8080:8080 -e 'DATABASE_USERNAME=${{secrets.DATABASE_USERNAME}}' -e 'DATABASE_PASSWORD=${{secrets.DATABASE_PASSWORD}}' -e 'DATABASE_URL=${{secrets.DATABASE_URL}}' -e 'JWT_ENCODING=${{secrets.JWT_ENCODING}}' -e 'MAIL_PASS=${{secrets.MAIL_PASS}}' -e 'MAIL_USER=${{secrets.MAIL_USER}}' -e 'MAIL_FROM=${{secrets.MAIL_FROM}}' --name petcare-api ${{secrets.DOCKER_USERNAME}}/petcare-api:latest